<div>
<h1>  Prueba de endpoint en JAVA</h1>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/movimiento']" [routerLinkActive]="['active']">Movimientos</a>
    &nbsp;
    <a [routerLink]="['/moneda']" [routerLinkActive]="['active']">Monedas</a>
    &nbsp;
    <a [routerLink]="['/tipoPago']" [routerLinkActive]="['active']">TipoPagos</a>
    &nbsp;
    <a [routerLink]="['/tipoMovimiento']" [routerLinkActive]="['active']">TipoMovimientos</a>
    &nbsp;
    <a [routerLink]="['/subTipoMovimiento']" [routerLinkActive]="['active']">SubTipoMovimientos</a>
	</nav>
	
	<hr>

<router-outlet></router-outlet>

<!--
<h2>Crear usuario reqres.in</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">

	<p>
		<label for="name">Nombre</label>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
		<span *ngIf="name.touched && !name.valid">
			El nombre no es valido
		</span>
	</p>

	<p>
		<label for="job">Trabajo</label>
		<input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
		<span *ngIf="job.touched && !job.valid">
			El trabajo no es valido
		</span>
	</p>

	<input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid"> 

</form>

<div *ngIf="usuario_guardado">
	<h2>El usuario se ha guardado correctamente</h2>
	<h3>{{usuario_guardado.name}}</h3>
	<h4>{{usuario_guardado.job}}</h4>
</div>-->

</div>