
<h2>Agregar Tipo de pago</h2>
<form #formTipoPago="ngForm" (ngSubmit)="onSubmit(formTipoPago)">

  
  <p>
		<label for="id">Id</label>
		<input type="text" name="id" #id="ngModel" [(ngModel)]="newTipoPago.id" required/>
		<span *ngIf="id.touched && !id.valid">
			El id no es valido
		</span>
	</p>

	<p>
		<label for="descripcion">Descripcion</label>
		<input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="newTipoPago.descripcion" required/>
		<span *ngIf="descripcion.touched && !descripcion.valid">
			La descripcion no es valida
		</span>
  </p>
  
	<input type="submit" value="Guardar tipo de pago" [disabled]="!formTipoPago.form.valid"> 

</form>

<div *ngIf="tipoPago_guardado">
        <h2>El Tipo de pago se ha guardado correctamente</h2>
        <h3>{{tipoPago_guardado.id}}</h3>
        <h3>{{tipoPago_guardado.descripcion}}</h3>
        
</div>

